@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
/*fonte footer*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
/*fonte navbar*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/*fonte "doe"*/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/*fonte "livros"*/
/*var cores*/
:root {
    --porshe: #E6A35D;
    --mineralgreen: #446A5D;
    --cinnabar: #E6401B;
    --sarerac: #FFF3E0;
    --mineshaft: #383435;
    --rodeodust: #C6AC9F;
    --fonte-julius: 'Julius Sans One', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/fundo-login.png);
    background-attachment: fixed;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7d8b781;
    padding: 1rem;
    border-radius: 15px 0px 0px 15px;
}

.form-image img {
    width: 31rem;
}

.form,.aviso,.endereco{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0px 15px 15px 0px;
}

.aviso p{
    text-align: justify;
    background-color: #fff;
    padding: 1.5rem;
    line-height: 1.5;
}

.aviso h4{
    padding-bottom: 30px;
}

.aviso ul {
    list-style-type: circle;
    margin-top: .25rem;
}

.aviso li{
    margin-bottom: .5rem;
}

.aviso a{
    color: var(--porshe);
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: var(--porshe);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: var(--porshe);
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--porshe);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 45%;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solidvar(--porshe);
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
} 

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button input {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color:var(--porshe);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 0.93rem;
}

.continue-button input:hover {
    background-color: #e49847;
}


input[type=checkbox] {
    left: -10px;
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background-color: var(--sarerac);
    border: 1.5px solid var(--porshe);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--porshe);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    position: absolute;
    top: 1px;
    left: 5px;
}

#termos {
    padding-top: 20px;
    text-align: center;
    font-size: 11.5px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}
#termos a{
    color: var(--porshe);
    font-weight:900;
}








@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}