/*fonte footer*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
/*fonte navbar*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/*fonte poppings*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*var cores*/
:root {
    --porshe: #E6A35D;
    --mineralgreen: #446A5D;
    --cinnabar: #E6401B;
    --sarerac: #FFF3E0;
    --mineshaft: #383435;
    --rodeodust: #C6AC9F;
    --fonte-julius: 'Julius Sans One', sans-serif;

}

body{
    overflow-x: hidden;
}

*{
    margin: 0 auto;
    padding: 0;
    font-family:var(--fonte-julius);
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

#menu-h{
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    background-color: var(--porshe);
    position: relative;
    z-index: 10;
}

#logo-nav img{
    width: 50px;
    height: 50px;
}

#logo-footer{
    width: 75px;
    height: 75px;
}

#menu-h ul{
    background-color: var(--porshe);
    max-width: 900px;
    list-style: none;
    padding: 0;
    display: flex;
}
#menu-h ul li{
    display: inline;
    position: relative;
}
#menu-h ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background .3s;
}
#menu-h ul li a:hover{
    background-color: #b8824a;
}
/*entrar alinhado à direita*/
#entrar a {
    float: right;
    background-color: #b8824a;
}
/*sub menu*/
#menu-h ul ul{
    display: none;
    position: absolute;
    left: 0;
}
#menu-h ul li:hover ul{
    display: block;
}
#menu-h ul ul{
    width: 150px;
}
#menu-h ul ul li a{
    display: block;
}

.main-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.container-branco{
    width: 100%;
    height: 370px;
    padding-top: 60px;
    max-width: 1200px;
    position: relative;
}

.container-img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 200px;
    margin-top: 80px;
}

.container-branco h1{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.texto-esquerdo{
    width: 150px;
    position: absolute;
    border-left: 4px solid #E6401B;
    padding-left: 10px;
    left: 20px;
}

.texto-esquerdo p{
    font-size: 15px;
    text-align: left;
}

.container-verde{
    width: 100%;
    height: 500px;
    background-color: #2e4d42;
    color: white;
    
}

.container-name{
    width: 100%;
    padding: 25px;
    display: grid;
    place-items: center;
    padding-top: 100px;
}

.container-name label{
    margin-top: 10px;
    font-size: 22px;
}

.container-dados{
    padding-left: 100px;
}

.container-dados h3{
    font-size: 25px;
}

.container-dados p{
    font-size: 20px;
    margin-top: 10px;
}

.linha-laranja{
    margin-top: 10px;
    width: 50%;
    height: 3px;
    background-color: #E6401B;
    position: absolute;
    left: 100px;
}

.container-doacoes{
    margin-top: 30px;
    padding-left: 100px;
}

.container-doacoes h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.container-doacoes label{
    font-size: 70px;
}

.container-doacoes span{
    font-size: 20px;
}

.container-bolas{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: -110px;
}

.container-bolas img{
    width: 100%;
    height: 100%;
}

/*footer*/
footer{
    position: absolute;
    top:100px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0,5px;
    width: 100%;
    color: white;
    background-color: #446A5D;
}
/*contato*/
.footer-link{
    text-decoration: none;
}
#footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3.5rem;
    padding-top: 50px;
    background-color: #446A5D;
}
#footer-contacts h1{
    margin-bottom: 0.75rem;
    text-align: center;
    font-size: 30px;
}
#footer-contacts p{
    color: var(--sarerac);
    text-align: center;
}
#footer-social-media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer-social-media .footer-link{
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    border-radius: 50%;
    transition: all .4s;
}
#footer-social-media .footer-link :hover{
    opacity: .8;
}
#instagram{
    background: linear-gradient(#7f37c9,#ff2992, #ff9807);
}
#facebook{
    background-color: #4267b3;
}
#whatsapp{
    background-color: #25d366;
}
/*list*/
.footer-list{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    list-style: none;
}
.footer-list .footer-link {
    color : var(--sarerac);

}
.footer-list .footer-link:hover{
    color: var(--porshe);
}
.footer-list h3{
    font-size: 25px;
}
/*subscriber*/
#footer-subscriber{
    float: right;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    left: 40px;
    text-align: justify;
}
#footer-subscriber p{
    color: var(--sarerac);
}
/*copyright*/
#footer-copyright{
    display: flex;
    justify-content: center;
    background-color: #2e4d42;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
/*responsividade*/
@media screen and (max-width: 768px){
    #footer-content{
        font-size: smaller;
        grid-template-columns: repeat(4,2fr);
        gap:2rem;
    }    
}
@media screen and (max-width: 768px) {
    #menu-h{
        gap:2rem;
    }
}
@media screen and (max-width: 426px){
    #menu-h{
        padding: 3rem 2rem;
    } 
}
@media screen and (max-width: 426px){
    #footer-content{
        font-size: smaller;
        grid-template-columns: repeat(4,2fr);
        padding: 3rem 2rem;
    } 
}

