/*fonte footer*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
/*fonte navbar*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/*fonte "doe"*/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
/*fonte "livros"*/
/*var cores*/
:root{
    --porshe: #E6A35D;
    --mineralgreen: #446A5D;
    --cinnabar: #E6401B;
    --sarerac: #FFF3E0;
    --mineshaft:#383435;
    --rodeodust: #C6AC9F;
    --fonte-julius: 'Julius Sans One', sans-serif;


}
/*resetando as configurações padrao*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/*pagina inicial*/
/*topo do body*/


#linha-texto{
    font-family: var(--fonte-julius);
    position:absolute;
    left: 25px;
    top: 5px;
    text-align:justify;
}

/*meio do body*/
#middle-body{
    position: relative;
    top: 300px;
    background-color: var(--cinnabar);
    width: 100%;
    height: 60%;
    
    text-align: left;
    font-family: var(--fonte-julius);
    color: rgb(255, 255, 255);
}
#papel{
    position: absolute;
    top: 34.5%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 1300px;
    opacity: 90%;
}
#middle-body h2{
    position: absolute;
    top: 7%;
    right: 79%;
    text-align: justify;
}
#middle-body p{
    position: absolute;
    top: 30%;
    left: 5%;
    right: 100px;
    text-align: justify;
}
#Livro{
    position: relative;
    top: 60px;
    left: 72%;
}

